# PATH additions
if [ -d "/usr/local/Cellar/coreutils/8.17/libexec/gnubin" ]; then
	export PATH="/usr/local/Cellar/coreutils/8.17/libexec/gnubin:$PATH"
fi

export PATH="/usr/local/bin:/usr/local/sbin:/usr/local/share/npm/bin:/usr/local/share/python:~/bin:$PATH"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"

# Sbt
export SBT_OPTS='-Xmx1536M -Xss1M -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=512M -XX:ReservedCodeCacheSize=64M -Duser.timezone=Europe/Paris'

#export JAVA_OPTS="-Xms1536m -Xmx1536m -XX:MaxPermSize=384m -XX:ReservedCodeCacheSize=192m -Xss1M -XX:+CMSClassUnloadingEnabled -XX:+UseParallelGC -XX:PermSize=256M -Dfile.encoding=UTF8"
