[alias]
	# View the SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph
	# View the current working tree status using the short format
	s = status -s
	# Diff
	d = diff --patch-with-stat
	tags = tag -l
	branches = branch -a
	remotes = remote -v

[core]
	# Use custom `.gitignore` and `.gitattributes`
	excludesfile = ~/.gitignore

[color]
	# Use colors in Git commands that are capable of colored output when outputting to the terminal
	ui = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[user]
	name = Alexandre Tamborrino
	email = tamborrino.alexandre@gmail.com

